h1, h2,h3{ text-decoration:underline; size: 20px}

a{color:#cc33ff;
	text-decoration: none;


}

}


}

p,li{
	color: #555555;
}

a:hover{

	color: #ff6600;
	text-decoration: underline;
}

.corpo {background-image: url(Imagens/fundo-site-home.jpg);
	background-repeat: no-repeat;

	background-Size:10%;
	bottom: 0;
	left: 0;
	overflow: auto;
	padding: 3em;
	position: absolute;
	right: 0;
	top: 0;
	background-size: cover;



}



