h1, h2,h3{ text-decoration:underline; size: 20px}

a{color:#cc33ff;
	text-decoration: none;

}

}


}

p,li{
	color: #555555;
}

a:hover{

	color: #ff6600;
	text-decoration: underline;
}

body {background-image: url(Imagens/starbugs.jpg);
	background-repeat: no-repeat;
}

